:root,
::after,
::before,
::backdrop {
  --bg-color-light: 40, 82%, 98%;
  --fg-color-light: 0, 0%, 10%;
  --hover-light: 0, 0%, 25%;
  --backdrop-light: var(--bg-color-light), .85;

  --bg-color-dark: 0, 0%, 15%;
  --fg-color-dark: 40, 82%, 98%;
  --hover-dark: 40, 82%, 88%;
  
  --h-font: 'DM Sans', sans-serif;
}

body {
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(var(--bg-color-light));
  color: hsl(var(--fg-color-light));
  font-family: var(--h-font);
}

*,
::before,
::after {
  box-sizing: border-box;
}

h3 {
  text-align: right;
  font-weight: 500;
  font-size: 1.15rem;
}

#blob {
  position: absolute;
  z-index: -2;
}

header {
  padding: 0.75rem 1rem 0 1rem;
  height: 10%;
}

main {
  height: 75vh;
  overflow: scroll;
  padding-bottom: 10%;
}

main h2,
main section {
  padding-left: 1rem;
}

main section img {
  width: 100%;
  padding-right: 1rem;
}

main section h3 {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  padding-right: 1rem;
}

aside {
  position: fixed;
  bottom: 0px;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: .75rem;
  padding: .1rem .75rem;
  background-color: hsl(var(--bg-color-light));
}

aside h2 {
  display: none;
}

aside a {
  height: 75%;
}

aside a svg {
  fill: hsl(var(--fg-color-light));
}

aside a svg:hover {
  fill: hsl(var(--hover-light));
}

/* Modal-related styles */
.project {
  cursor: pointer;
}

.modal {
  max-width: 95%;
  max-height: 70%;
  border: 0;
  box-shadow: 0 0 2rem rgb(0 0 0 / .5);
  background-color: hsl(var(--bg-color-light));
}

.modal p.closeModal {
  text-align: right;
  margin-top: 0;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.modal img {
  max-width: 100%;
}

.modal::backdrop {
  background-color: hsla(var(--backdrop-light));
}

@supports ((-webkit-backdrop-filter: blur(.15rem)) or (backdrop-filter: blur(.15rem))) {
  .modal::backdrop {
  backdrop-filter: blur(.15rem);
  }
}

/* Responsive styles */
@media screen and (min-width: 900px) {
  html {
    overflow: hidden;
  }

  body {
    height: 100%;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr) 10rem;
    grid-template-rows: 3rem repeat(4, 1fr) 3rem;
  }

  #blob {
    position: absolute;
    right: 1rem;
    z-index: -2;
    height: 90%;
    width: 90%;
  }

  header h1 {
    font-size: 3rem;
  }

  main {
    height: 85vh;
    grid-column: 6 / 11;
    grid-row: 2 / 7;
    scrollbar-width: thin;
    padding-bottom: 0;
  }

  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }

  aside {
    position: initial;
    height: 3rem;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    gap: 1rem;
    justify-content: flex-start;
  }

  aside h2 {
    display: block;
  }

  /* Modal-related styles (Desktop) */
  /* Hide portrait / show landscape on mobile */
  .modal {
    max-width: 75%;
    min-height: 50%;
  }

  .modal_container {
    display: flex;
    gap: 2rem;
  }

  .modal img {
    display: initial;
    max-width: 65%;
  }
}

/* Dark-mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(var(--bg-color-dark));
    color: hsl(var(--fg-color-dark));
  }

  aside a svg {
    fill: hsl(var(--fg-color-dark));
  }

  aside a svg:hover {
    fill: hsl(var(--hover-dark));
  }
}
